.footer {
    display: flex;
    margin-top: auto;
    background: red;
    align-items: center;
    justify-content: space-evenly;
}

.footer-brandname {
    display: flex;
    flex-flow: column wrap;
}

.footer-brandname h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.footer a {
    text-decoration: none;
}

.footer li {
    list-style: none;
}