.navbar {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: stretch;
}

.brandname {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2px;
}

.navlinks {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.navlinks a.active {
    border-bottom: 2px solid hsl(180, 75%, 58%);
}

.navlinks li:hover {
    background: green;
}