.row-header{
  margin: 0px auto;
  padding: 0px auto;
  place-content: center;
  text-align: center;
}

.jumbotron .content {
  line-height: 2;
  color: hsl(307, 61%, 51%);
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  
}

.nav-container {
  display: flex;
}

.footer{
  background-color: hsl(350, 68%, 78%);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.footer a {
  color: #ffff;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: url('../public/assets/images/cute-cat.jpg');
  min-height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: hsl(350, 68%, 78%);
}

.breadcrumb {
  padding: .5rem;
  width: fit-content;
  border-radius: .25rem;
  background-color: hsl(350, 68%, 78%);
}

.card-body {
  text-align: center;
}